<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.systemui.plugin.testoverlayplugin">

    <uses-permission android:name="com.android.systemui.permission.PLUGIN" />

    <application>
        <activity android:name=".PluginSettings"
                  android:label="@string/plugin_label"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.android.systemui.action.PLUGIN_SETTINGS" />
            </intent-filter>
        </activity>

        <service android:name=".SampleOverlayPlugin"
                 android:label="@string/plugin_label"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.android.systemui.action.PLUGIN_OVERLAY" />
            </intent-filter>
        </service>
    </application>

</manifest>
