<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.app.viewcapture.test">
    <application
        android:debuggable="true"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name="com.android.app.viewcapture.TestActivity"
            android:exported="false" />

        <uses-library android:name="android.test.runner" />

    </application>

    <instrumentation
        android:name="android.testing.TestableInstrumentation"
        android:label="Tests for MotionTool Lib"
        android:targetPackage="com.android.app.viewcapture.test"/>

</manifest>
