<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.wm.shell.tests">

    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>

    <application android:debuggable="true" android:largeHeap="true">
        <uses-library android:name="android.test.mock" />
        <uses-library android:name="android.test.runner" />

        <activity android:name=".bubbles.BubblesTestActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:exported="false"
            android:resizeableActivity="true" />
    </application>

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:label="Tests for WindowManager-Shell"
        android:targetPackage="com.android.wm.shell.tests">
    </instrumentation>
</manifest>
